html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  .hamburgerIcon{
  	cursor: pointer;
  }

.min-h-100 {
	min-height: 100%;
}


#listContainer{
	height: 100%;
}


#map{ 
	height: 100%;
}