/*Colors
Stormy #494E6B
Cloud #98878F
Sunset #985E6D
Evening #192231
*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
    color: white;
    background-color: #192231;
    font-family: sans-serif, arial, verdana, "times new roman";
  }

  ul {
  	list-style-type: none;
  	padding: 0 1em 0 1em;
  }

h3{
	color: #985E6D;
}

input{
	width: 90%;
	border-radius: 10px;
}

.filterIcon{
	width: 5%;
}

.location{
	background-color: #494E6B;
	border-color: #494E6B;
	cursor: pointer;
	margin: 5px 0 5px 0;
	border-radius: 10px;
	padding: 10px;
}
.hamburgerIcon{
 	cursor: pointer;
}

.min-h-100 {
	min-height: 100%;
}

#map{ 
	height: 100%;
}

.highlight{
	background-color: #985E6D;
}

